@font-face {
  font-family: 'Alegreya-Regular';
  src: url("../fonts/Alegreya-Regular/Alegreya-Regular.eot");
  src: url("../fonts/Alegreya-Regular/Alegreya-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Alegreya-Regular/Alegreya-Regular.woff") format("woff"), url("../fonts/Alegreya-Regular/Alegreya-Regular.otf") format("truetype"); }
@font-face {
  font-family: 'Montserrat Bold';
  src: url("../fonts/Montserrat-Bold/montserrat-bold.eot");
  src: url("../fonts/Montserrat-Bold/montserrat-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold/montserrat-bold.woff") format("woff"), url("../fonts/Montserrat-Bold/Montserrat-Bold.otf") format("truetype"); }
@font-face {
  font-family: 'Raleway Regular';
  src: url("../fonts/Raleway-Regular/raleway-regular.eot");
  src: url("../fonts/Raleway-Regular/raleway-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular/raleway-regular.woff") format("woff"), url("../fonts/Raleway-Regular/Raleway-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Raleway Thin';
  src: url("../fonts/Raleway-Thin/raleway-thin.eot");
  src: url("../fonts/Raleway-Thin/raleway-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Thin/raleway-thin.woff") format("woff"), url("../fonts/Raleway-Thin/Raleway-Thin.ttf") format("truetype"); }
::-webkit-input-placeholder {
  color: #000000;
  opacity: 1; }

::-moz-placeholder {
  color: #000000;
  opacity: 1; }

:-ms-input-placeholder {
  color: #000000;
  opacity: 1; }

:-moz-placeholder {
  color: #000000;
  opacity: 1; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  min-width: 820px; }

.wrapper {
  margin: 40px; }

.section_heading {
  font-size: 5.2rem;
  font-family: 'Raleway Thin', 'sans-serif';
  font-weight: 400; }
  .section_heading b {
    font-family: 'Montserrat Bold', 'sans-serif'; }

.section_description {
  font-size: 2.2rem;
  font-family: 'Alegreya-Regular', 'serif'; }

.written_text {
  display: inline-block;
  font-family: 'Montserrat Bold', 'sans-serif';
  font-size: 4.3rem;
  min-width: 1px;
  height: 49px;
  padding-right: 2px; }

.arrow_left, .arrow_right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #FFFFFF;
  padding: 1.5%;
  z-index: 999;
  font-size: 3vw;
  cursor: pointer;
  -webkit-transition: 1s;
          transition: 1s; }
  .arrow_left:hover, .arrow_right:hover {
    opacity: .8; }

.arrow_left {
  left: 5%; }

.arrow_right {
  right: 5%; }

/* page_header */
.page_header {
  background: url("../img/ApolloPSDTemplate.png") left center no-repeat;
  background-size: cover;
  position: relative;
  height: 1000px;
  min-width: 740px; }
  .page_header .page_navigation {
    position: absolute;
    right: 5%;
    top: 5%;
    text-transform: uppercase;
    font-family: 'Raleway Regular', 'sans-serif';
    font-size: 2.2rem;
    font-weight: bold; }
    .page_header .page_navigation .page_navigation-title {
      float: left;
      font-size: 2.2rem;
      margin: 0;
      padding-top: 13px;
      padding-right: 5px; }
    .page_header .page_navigation .page_navigation-burger {
      background: 0;
      border: 0;
      outline: 0;
      width: 50px;
      height: 50px;
      cursor: pointer; }
      .page_header .page_navigation .page_navigation-burger .page_navigation-burger-line {
        display: block;
        width: 26px;
        height: 4px;
        border-radius: 3px;
        margin: 3px auto;
        background-color: #000000;
        -webkit-transition: .3s all linear;
                transition: .3s all linear; }
    .page_header .page_navigation .burger_animation .page_navigation-burger-line:nth-child(1) {
      -webkit-transform: translateY(7px) rotate(45deg);
          -ms-transform: translateY(7px) rotate(45deg);
              transform: translateY(7px) rotate(45deg); }
    .page_header .page_navigation .burger_animation .page_navigation-burger-line:nth-child(3) {
      -webkit-transform: translateY(-7px) rotate(-45deg);
          -ms-transform: translateY(-7px) rotate(-45deg);
              transform: translateY(-7px) rotate(-45deg); }
    .page_header .page_navigation .burger_animation .page_navigation-burger-line:nth-child(2) {
      opacity: 0; }
    .page_header .page_navigation .navigation_panel ul {
      opacity: 0;
      position: relative;
      padding: 5px;
      background-color: #FFFFFF;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      text-align: center; }
      .page_header .page_navigation .navigation_panel ul:before {
        content: "";
        display: block;
        position: absolute;
        top: -20px;
        left: 80px;
        margin: 0 auto;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 20px solid #FFFFFF; }
      .page_header .page_navigation .navigation_panel ul li {
        list-style-type: none; }
        .page_header .page_navigation .navigation_panel ul li .page_anchors {
          display: block;
          text-transform: none;
          text-decoration: none;
          color: #000000;
          font-weight: 400;
          font-size: 2.2rem;
          font-family: 'Alegreya-Regular', 'serif';
          padding: 7px;
          border-radius: 3px; }
          .page_header .page_navigation .navigation_panel ul li .page_anchors:hover {
            background-color: #EFEFEF;
            cursor: pointer; }
      .page_header .page_navigation .navigation_panel ul .navigation_panel-media {
        padding: 5px 0; }
        .page_header .page_navigation .navigation_panel ul .navigation_panel-media a {
          display: inline-block;
          text-decoration: none;
          font-size: 1.4rem;
          color: #FFFFFF;
          background-color: #909090;
          outline: 0;
          padding: 5px;
          -webkit-transition: 1s;
                  transition: 1s; }
          .page_header .page_navigation .navigation_panel ul .navigation_panel-media a:hover, .page_header .page_navigation .navigation_panel ul .navigation_panel-media a:focus {
            background-color: #000000; }
  .page_header .page_header-content {
    position: absolute;
    font-size: 2.6rem;
    top: 30%;
    width: 600px;
    left: 10%; }

/* end page_header */
/* about_me */
.about_me {
  background: url("../img/camera.png") right center no-repeat;
  background-size: cover;
  position: relative;
  height: 1000px;
  min-width: 740px; }
  .about_me .about_me-content {
    position: absolute;
    font-size: 2.6rem;
    top: 20%;
    width: 600px;
    right: 10%; }
    .about_me .about_me-content .media_icons {
      margin-top: 50px; }
      .about_me .about_me-content .media_icons a {
        display: inline-block;
        text-decoration: none;
        font-size: 2rem;
        color: #FFFFFF;
        background-color: #909090;
        outline: 0;
        padding: 8px;
        margin-right: 10px;
        -webkit-transition: 1s;
                transition: 1s; }
        .about_me .about_me-content .media_icons a:hover, .about_me .about_me-content .media_icons a:focus {
          background-color: #000000; }

/* end about_me */
/* slider */
.slider {
  position: relative;
  overflow: hidden;
  height: 43vw;
  min-height: 370px; }
  .slider .slide img {
    display: block;
    width: 100%;
    min-width: 740px;
    z-index: -1;
    position: absolute; }

/* end slider */
/* page_description */
.page_description {
  background: url("../img/chairs.png") left center no-repeat;
  background-size: cover;
  position: relative;
  height: 1000px;
  min-width: 740px; }
  .page_description .page_description-content {
    position: absolute;
    font-size: 2.6rem;
    top: 30%;
    width: 500px;
    left: 10%; }

/* end page_description */
/* slider3d */
.slider3d {
  position: relative; }
  .slider3d .slider3d-bg {
    display: block;
    width: 100%;
    min-width: 740px;
    z-index: -1; }
  .slider3d .slide3d {
    width: 28%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: .4s;
            transition: .4s;
    z-index: 100; }
  .slider3d .slide3d-1 {
    left: 30%; }
  .slider3d .slide3d-2 {
    left: 50%; }
  .slider3d .slide3d-3 {
    left: 70%; }
  .slider3d .active3d {
    z-index: 999;
    -webkit-transform: translate(-50%, -50%) scale(1.2);
        -ms-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2); }
  .slider3d .slide3d-last {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
        -ms-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
    z-index: 1; }

/* end slider3d */
/* contact */
.contact {
  background: url("../img/backgroundO.png") left center no-repeat;
  background-size: cover;
  position: relative;
  height: 1000px;
  min-width: 740px; }
  .contact .contact-content {
    position: absolute;
    font-size: 2.6rem;
    top: 5%;
    width: 600px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center; }
  .contact .contact-form {
    position: absolute;
    font-size: 2.6rem;
    top: 35%;
    width: 600px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    .contact .contact-form .contact-form-email, .contact .contact-form .contact-form-subject {
      width: 250px; }
    .contact .contact-form .contact-form-email, .contact .contact-form .contact-form-subject, .contact .contact-form .contact-form-textarea {
      box-sizing: border-box;
      padding: 5px 5px;
      border: 1.5px solid #000000;
      background: #EFEFEF;
      font-family: 'Raleway Regular', 'sans-serif';
      font-size: 2rem;
      outline: 0;
      margin-bottom: 20px; }
      .contact .contact-form .contact-form-email:focus, .contact .contact-form .contact-form-subject:focus, .contact .contact-form .contact-form-textarea:focus {
        outline: 1px solid #000000; }
    .contact .contact-form .contact-form-subject {
      float: right; }
    .contact .contact-form .contact-form-textarea {
      width: 100%;
      resize: none;
      height: 200px; }
    .contact .contact-form .contact-form-submit {
      display: block;
      margin: 0 auto;
      font-family: 'Raleway Regular', 'sans-serif';
      width: 100%;
      color: #FFFFFF;
      border: 0;
      outline: 0;
      text-transform: uppercase;
      background-color: #000000;
      padding: 12px 0;
      font-weight: bold;
      font-size: 2rem;
      -webkit-transition: .7s;
              transition: .7s;
      cursor: pointer; }
      .contact .contact-form .contact-form-submit:hover, .contact .contact-form .contact-form-submit:focus {
        opacity: .9; }

@media (max-width: 840px) {
  .arrow_left, .arrow_right {
    font-size: 2.4rem; } }

/*# sourceMappingURL=style.css.map */