
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */